# Jupyter
.ipynb_checkpoints/
*.ipynb~
*.pyc
__pycache__/
*.pyo
*.pyd

# Data folders (excluded to avoid committing large JWST files or results)
data
notebooks/*Solutions.ipynb
crds_cache
*.fits
*.gz
*.zip
*.tar
*.tar.gz

# Docker
*.log
*.pid
*.sock
*.img
.env
docker-compose.override.yml

# macOS / Windows
.DS_Store
Thumbs.db

# VSCode / Editor settings
.vscode/
*.swp
*.swo
*.bak
